    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0;
        padding: 20px;
        background-color: #f3f3f3;
        color: #333;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    body.dark-mode {
        background-color: #333;
        color: #fff;
    }

    h1,
    h2 {
        color: inherit;
    }

    p {
        margin: 10px 0;
        color: inherit;
    }

    input {
        padding: 5px;
        width: 150px;
        font-size: 16px;
        background-color: #fff;
        color: #333;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    input.dark-mode {
        background-color: #555;
        color: #fff;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        transition: background-color 0.3s ease;
    }

    button.dark-mode {
        background-color: #222;
    }

    button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    #mensagem {
        font-weight: bold;
    }

    #reiniciar {
        margin-top: 20px;
        background-color: #ff5722;
    }

    .hidden {
        display: none;
    }

    .tema-toggle {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
        cursor: pointer;
    }

    .tema-toggle i {
        margin-left: 10px;
        font-size: 24px;
        color: #333;
    }

    .dark-mode .tema-toggle i {
        color: #fff;
    }

    .bars {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 9999;
        cursor: pointer;
        font-size: 18px;
    }

    .menu-container {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 2);
        z-index: 9999;
        padding: 20px;
        background-color: #fff;
        color: #333;
    }

    .menu-content {
        background-color: #fff;
        padding: 20px;
        text-align: center;
        position: relative;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 24px;
        cursor: pointer;
    }

    .menu-list {
        list-style-type: none;
    }

    .menu-list li {
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        list-style-type: none;
    }

    .menu-list li i {
        margin-right: 10px;
    }

    body.dark-mode .menu-container {
        background-color: #333;
        color: #fff;
    }

    body.dark-mode .menu-container .close {
        color: #fff;
    }

    body.dark-mode .menu-container .menu-list li {
        color: #fff;
    }

    body.dark-mode .menu-container .menu-list li i {
        color: #fff;
    }

    body.dark-mode .menu-content {
        background-color: #333;
    }

    .menu-list li.selected {
        border-radius: 5px;
        background-color: #bebebe;
    }

    body.dark-mode .menu-list li.selected {
        background-color: #5e5e5e;
    }

    @media only screen and (max-width: 768px) {
        body {
            padding: 10px;
        }

        input {
            width: 100%;
            max-width: 300px;
        }
    }
    @media only screen and (max-width: 375px) {
        h1 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
            margin-bottom: 10px;
        }

        input {
            width: 80%;
            max-width: 250px;
        }

    }